*.a
*.cache
*.gch
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Makefile
/TAGS
/aclocal.m4
/build-aux
/cpsquashfs
/libtool
/stamp-*
Makefile.in
configure
config.status
